UPLOADTHING_TOKEN='your_uploadthing_token_here'
DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/databaseName?retryWrites=true&w=majority"
AUTH_SECRET='your_auth_secret_here'
AUTH_TRUST_HOST=true
